.logo-image{
    width: 110px;
    height: 90px;
    margin-left: 25px;
}

.list-inline-item {
    font-family: TT Commons;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 0px 18px;
    color: #ffffff;
}

.last-child {
    margin-right: 50px;
}

.list-inline-item:hover {
    font-size: 1.5em;
    color: #6E34D4;
    text-transform: uppercase;
}

.navbar {
    background-color: #34D48E;
}

@media only screen and (max-width: 720px) {
    .navbar-brand{
        margin: 0px auto;
    }

    .list-inline {
        margin: 0 auto;
    }

    .list-inline-item {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 540px) {
    .list-inline-item {
        font-size: 1em;
    }

    .list-inline {
        margin: 0 auto;
    }
}