.img-fluid {
    width: 100%;
}

.icon-marketing {
    width: 90px;
    height: 90px;
}

.col-sm {
    display: inline-flex;
}

.itens-marketing{
    padding: 20px;
}

.marketing-ul  {
    padding: 25px;
    color: #ffffff;
}

.marketing {
    background-color: #000000;
}


.contact-us {
    font-family: TT Commons;
    font-size: 1.5em;
    padding: 20px 40px;
    color: #dcd638;
    border: 4px solid #dcd638;
}

.contact-us:hover{
    text-decoration: none;
    color: #ffffff;
    border: 5px solid #dcd638;
}

.call-to-action {
    padding-bottom: 40px;
}

.carousel-img {
    width: 100%;
    height: 350px;
}

.carousel-item-active img, .carousel-item img{
    max-height: 800px;
}

.text-light-yellow {
    font-family: TT Commons;
    font-size: 1.6em;
    text-transform: uppercase;
    color: #dcd638;
}

.text-light-yellow-bottom {
    font-family: TT Commons;
    font-size: 1.4em;
    color: #dcd638;
}

.text-light-white-bottom{
    font-family: TT Commons;
    font-size: 1.4em;
    color: #ffffff;
}

.text-dark-black {
    font-family: TT Commons;
    font-size: 1.6em;
    text-transform: uppercase;
    color: #000000;
}

.text-dark-black-bottom {
    font-family: TT Commons;
    font-size: 1.4em;
    color: #000000;
}

.carousel-caption a:hover {
    text-decoration: none;
}

.logo-image{
    width: 110px;
    height: 90px;
    margin-left: 25px;
}

.list-inline-item {
    font-family: TT Commons;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 0px 18px;
    color: #ffffff;
}

.last-child {
    margin-right: 50px;
}

.list-inline-item:hover {
    font-size: 1.5em;
    color: #6E34D4;
    text-transform: uppercase;
}

.navbar {
    background-color: #34D48E;
}

@media only screen and (max-width: 720px) {
    .navbar-brand{
        margin: 0px auto;
    }

    .list-inline {
        margin: 0 auto;
    }

    .list-inline-item {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 540px) {
    .list-inline-item {
        font-size: 1em;
    }

    .list-inline {
        margin: 0 auto;
    }
}

.final-footer{
    background-color: #34D48E;
}

.main-ask {
    font-family: TT Commons;
    font-size: 1.7em;
    padding-top: 2em;
    color: #000000;
    margin: 0 auto;
    padding-bottom: 1.3em;
}

.btn-ask {
    font-family: TT Commons;
    color: #3480eb;
    text-transform: uppercase;
}

.btn-ask:hover {
    text-decoration: none;
}

.accordion {
    padding-bottom: 90px;
}

.top-location {
    font-family: TT Commons;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-row {
    padding-top: 50px;
}

.list-footer {
    list-style-type: none;
}

.margin-needed {
    margin-top: 20px;
}

.botoom{
    background-color: #dde3ed;
}

.no-style {
    padding-right: 20px;
}

.no-style:hover {
    text-decoration: none;
}

.copyright {
    padding-top: 50px;
    background-color:  #dde3ed;;
    color: #2b2b26;
    font-family: TT Commons;
    margin: 0 auto;
    
}
