.presentation {
    background: url(../images/3D_Printer_for_presentation.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  height: 440px;
}

.call-to-action p:before, .call-to-action p:after   {
    content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 14px auto 10px auto;
}

.image-central{
    text-align: center;
}